blinker==1.9.0
click==8.3.0
Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
graphviz==0.21
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
pydot==3.0.4
Pygments==2.19.2
pyparsing==3.2.5
rich==14.1.0
shellingham==1.5.4
SQLAlchemy==2.0.43
typer==0.19.2
typing_extensions==4.15.0
Werkzeug==3.1.3
